USE [MssShippingArchive]
GO

/****** Object:  Table [dbo].[LoadArchive]    Script Date: 4/21/2020 9:33:59 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LoadArchive](
  [ID] int IDENTITY(1,1) NOT NULL,
  [ArchivedOn] datetime NOT NULL,
  [LoadNumber] int NOT NULL,
  [SlugLetter] varchar(1) NOT NULL,
  [StartedOn] datetime NOT NULL,
  [CompletedOn] datetime NOT NULL,
  [PalletCount] int NOT NULL,
  [FirstCsn] int NOT NULL,
  [LastCsn] datetime NOT NULL,
  [TrailerNumber] varchar(20) NOT NULL,
 CONSTRAINT [PK_LoadArchive] PRIMARY KEY CLUSTERED
(
  [ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LoadItemArchive]    Script Date: 4/21/2020 9:34:45 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LoadItemArchive](
  [ID] int IDENTITY(1,1) NOT NULL,
  [LoadArchiveID] int NOT NULL,
  [LoadIndex] int NOT NULL,
  [Status] int NOT NULL,
  [CraneNumber] int NOT NULL,
  [PickedOn] datetime NOT NULL,
--  [InsertEmpty] bit NOT NULL,
 CONSTRAINT [PK_LoadItemArchive] PRIMARY KEY CLUSTERED
(
  [ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[LoadItemArchive]  WITH CHECK ADD  CONSTRAINT [FK_LoadItemArchive_LoadArchive] FOREIGN KEY([LoadArchiveID])
REFERENCES [dbo].[LoadArchive] ([ID])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[LoadItemArchive] CHECK CONSTRAINT [FK_LoadItemArchive_LoadArchive]
GO

/****** Object:  Table [dbo].[LoadBroadcastArchive]    Script Date: 4/21/2020 9:35:25 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LoadBroadcastArchive](
  [ID] int IDENTITY(1,1) NOT NULL,
  [LoadItemArchiveID] int NOT NULL,
  [Status] int NOT NULL,
  [Rotation] int NOT NULL,
  [Csn] varchar(20) NOT NULL,
  [Vin] varchar(20) NOT NULL,
  [VehicleSku] varchar(50) NOT NULL,
  [Sku] varchar(50) NOT NULL,
  [PickMode] int NOT NULL,
  [PickModeKey] varchar(50) NOT NULL,
  [ReceivedOn] datetime NOT NULL,
  [VehicleRowCount] int NOT NULL,
 CONSTRAINT [PK_LoadBroadcastArchive] PRIMARY KEY CLUSTERED
(
  [ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[LoadBroadcastArchive]  WITH CHECK ADD  CONSTRAINT [FK_LoadBroadcastArchive_LoadItemArchive] FOREIGN KEY([LoadItemArchiveID])
REFERENCES [dbo].[LoadItemArchive] ([ID])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[LoadBroadcastArchive] CHECK CONSTRAINT [FK_LoadBroadcastArchive_LoadItemArchive]
GO

/****** Object:  Table [dbo].[LoadPalletArchive]    Script Date: 4/21/2020 9:35:53 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LoadPalletArchive](
  [ID] int IDENTITY(1,1) NOT NULL,
  [LoadItemArchiveID] int NOT NULL,
  [PalletID] int NOT NULL,
  [Status] int NOT NULL,
  [HoldCode] int NOT NULL,
  [Sku] varchar(50) NOT NULL,
  [JobID] varchar(50) NOT NULL,
  [BuiltOn] datetime NOT NULL,
  [Comment] varchar(50) NOT NULL,
 CONSTRAINT [PK_LoadPalletArchive] PRIMARY KEY CLUSTERED
(
  [ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[LoadPalletArchive]  WITH CHECK ADD  CONSTRAINT [FK_LoadPalletArchive_LoadItemArchive] FOREIGN KEY([LoadItemArchiveID])
REFERENCES [dbo].[LoadItemArchive] ([ID])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[LoadPalletArchive] CHECK CONSTRAINT [FK_LoadPalletArchive_LoadItemArchive]
GO

