<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <dfxConfigurationVersion>1</dfxConfigurationVersion>

  <dfxNonstandardSections>
  </dfxNonstandardSections>

  <dfxAppInstances ConfigurationItemType="DacQuest.DFX.Core.Configuration.XAppInstanceConfigurationItem,DacQuest.DFX.Core" >
    <Mss.OfflineSystemEventViewer
      FriendlyName="System Event Viewer"
      AppRole="ViewHost"
      LogOnViewName=""
      LogOnOverrideViewName=""
      InitialViewName="SystemEventViewerView"
      DefaultViewName="SystemEventViewerView"
      NavigatorName=""
      SnapInViewGroupNames="SystemEventViewerGroup"
      ShowNavigatorMenu="false"
      NavigatorMenuName=""
      ShowNextScheduledLogOffTime="false"
      ScheduledLogOffTimes =""
      ViewBorderStyle="FixedSingle"
      HideLogOffMenuItem="true"
      MessagingGroupNames=""
      HostedMessagingGroupNetworkDispatcherNames=""
      StandardServiceNames=""
      AppParameters=""
      SecurityProviderParameters=""
      SingleInstance="false"
      HideMenuStrip="true"
      />
  </dfxAppInstances>

  <dfxSnapInViewGroups ConfigurationItemType="DacQuest.DFX.SnapInViews.XSnapInViewGroupConfigurationItem,DacQuest.DFX.SnapInViews" >
    <SystemEventViewerGroup
      GroupDisplayName="System Event Viewer"
      SnapInViewNames="SystemEventViewerView"
      />
  </dfxSnapInViewGroups>

  <dfxSnapInViews ConfigurationItemType="DacQuest.DFX.SnapInViews.XSnapInViewConfigurationItem,DacQuest.DFX.SnapInViews" >
    <SystemEventViewerView
      FriendlyName="System Event Viewer"
      ClassType="DacQuest.DFX.StandardViews.XSystemEventViewerView, DacQuest.DFX.StandardViews"
      AutoClose="true"
      ShowCloseButton="false"
      Parameters="WrapperName:=SystemEventViewerView
        |SortOrder:=Descending"
      />
  </dfxSnapInViews>

  <dfxSystemEventMonitorLevelSettings ConfigurationItemType="DacQuest.DFX.Core.SystemEvents.XSystemEventMonitorLevelSettingsConfigurationItem,DacQuest.DFX.Core" >
    <Information
      Display="true"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Notification
      Display="true"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Warning
      Display="true"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Error
      Display="true"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Exception
      Display="true"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Manual
      Display="true"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Telemetry
      Display="false"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Trace
      Display="false"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
    <Debug
      Display="false"
      TimeoutMinutes="0"
      MustBeAcknowledged="false"
      SaveToArchive="false"
      ControlLevel="None"
      AllowMultipleAcknowledgment="false"
      />
  </dfxSystemEventMonitorLevelSettings>

  <dfxParameterSetWrappers ConfigurationItemType="DacQuest.DFX.Core.Configuration.XParameterSetWrapperConfigurationItem, DacQuest.DFX.Core" >
    <SystemEventViewerView
      ClassType="DacQuest.DFX.StandardViews.XSystemEventViewerViewParameterSetWrapper, DacQuest.DFX.StandardViews"
      />
  </dfxParameterSetWrappers>

</configuration>